*
{
	margin: 0 auto;
	padding: 0;
}

header
{
	width: 90%;
	background: blue;
	height: 150px;
}

.logo
{
	float: left;
	width: 50%;
}

.menu
{
	float: right;
	width: 50%;
}

.contenido
{
	width: 90%;
	background: red;
	height: 1000px;
}